@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-principal: rgb(70, 43, 102);
    --cor-secundaria: rgb(245, 133, 176);
    --cor-destaque: black;
}

body {
    font-family: "Playfair Display", sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color:var(--cor-destaque);
}

body.dark-mode {
    background-color: rgba(18, 18, 18, 0.853);
    color: #ffffff;
}

.dark-mode {
    margin-top: 20px;
}

.dark-mode-btn {
    display: flex;
}

.dark-mode-btn {
    background-color: rgb(44, 62, 80);
    color:white;
    border-radius: 150px;
}

.dark-mode-btn:hover {
    background-color: #ffffff;
    color: rgb(44, 62, 80);
    border-radius: 150px;
}